## Capstone Project - The Battle of Neighborhoods (Week 1)

##### Description of the problem

We will develop a program to help solve the problem of people seeking to relocate to King Couny, Washington. Let's think abount a consumer that wants to relocate to King County; for that purpose he will use some variables to make their decision better. For example, he will need to know the price of the new house as his rent is limited and maybe some other features like the sqrt $m² or if the house has terrace or not, however, to make the things easier we will use only the price.

Although price is a very important variable, it is not the only one. For example, if the consumer is a family head, some other variables like the nearby will be important or the crime rate of that city. Those features can be obtained with the foursquare API

In short, we are going to carry out a program that helps consumers to solve what in Microeconomics is called "the consumer's problem", that is, consumers will try to maximize their utility taking into account a limited budget


##### A description of the data and how it will be used to solve the problem

For that purpose we are going to use 2 datasets:

The first dataset is a dataset we know because we used it in some exercises of this course, it is the House Sales in King County dataset used in the "Data Analysis with python" Course: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/coursera/project/kc_house_data_NaN.csv


And the second dataset is the following one https://data.kingcounty.gov/Law-Enforcement-Safety/King-County-Sheriff-s-Office-Incident-Dataset/rzfs-wyvy . Here we can obtain the incidents recorded by King County Sheriff's Department, broken down by the incident datetime, adress and so on.


    ·

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import requests

In [20]:
## Crimes database

file_name_crimes='https://data.kingcounty.gov/api/views/rzfs-wyvy/rows.csv?accessType=DOWNLOAD'
df_crimes=pd.read_csv(file_name_crimes)

In [22]:
df_crimes.head()

,case_number,incident_datetime,incident_type,FCR,address_1,city,state,zip,created_at,updated_at,hour_of_day,day_of_week,Incident Block Location
0,C19045456,11/27/2019 02:10:00 PM,Other,377,8700 Block 250TH AVE NE,REDMOND,WA,98053,12/02/2019 11:55:00 PM,12/03/2019 01:47:00 AM,14,Wednesday,POINT (-122.00566700000002 47.679241)
1,C19045392,11/27/2019 08:00:00 AM,Traffic,427,BECKLER RD & MP 4.6,SKYKOMISH,WA,98288,12/02/2019 10:25:00 PM,12/03/2019 12:16:00 AM,8,Wednesday,NaN
2,C19047596,11/20/2019 11:38:00 AM,Property Crime,331,NFD 6028 & HWY 2,BARING,WA,5474,12/17/2019 11:15:00 PM,12/17/2019 11:56:00 PM,11,Wednesday,NaN
3,C19044352,11/19/2019 02:38:00 PM,Drugs,200,1 Block AVE S & S KING ST,SEATTLE,WA,98144,12/02/2019 05:05:00 PM,12/02/2019 06:56:00 PM,14,Tuesday,NaN
4,C19044243,11/18/2019 11:06:00 PM,Traffic,404,I,KENT,WA,NaN,11/26/2019 08:55:00 PM,11/26/2019 10:46:00 PM,23,Monday,NaN

In [23]:
## Houses database

file_name_houses='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/coursera/project/kc_house_data_NaN.csv'
df_houses=pd.read_csv(file_name_houses)

In [24]:
df_houses.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

##### How the problem will be solved?

First of all we are going to do an exploratoy data analysis of the data of houses, and put them on a map using geocode functions in Python. 

Then we are going to explore the nearbies of those houses and clasify them using K-means depending of the sites which are in a radius of 500m.

Also we will put in a map de crime rates and a threshold to see where are the higuest crime rates and if it is a correlation between house prices and crime rates near it.